body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f0f0f0;
    margin: 10;
    padding: 80;
  }
  
  header {
    text-align: center;
    background-color: #d80606;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 70 0 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    background-color: #e71212;
    color: #fff;
    padding: 10px;
  }
  
  a {
    color: #FFA500;
    text-decoration: none;
    font-weight: bold;
  }
  